.nav{
    position: absolute;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar li{
    margin-right: 20px;
}
.navbar li a:any-link{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.navbar li a:hover{
    color: gold;
}
.navbar h3{
    font-weight: 500;
}
.navbar h3 a:any-link{
    text-decoration: none;
    color: gold;
}
.navbar svg{
    display: none;
    width: 10%;
}
.hiddenList{
    display: none;
}
.hiddenList li{
    list-style: none;
    text-align: center;
    font-size: 1.25rem;
}
.hiddenList ul{
    padding: 0;
    /* background-color: blue; */
}
.hiddenList a{
    text-decoration: none;
    color: white;

}
.hidden{
    display: none;
}
@media screen and (max-width:426px){
    .listItem{
        display: none;
    }
    .hiddenList{
        display: block;
    }
    .navbar h3{
        display: none;
    }
    .navbar svg{
        display: block;
    }
}